{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/dataTables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'node_modules/sienna-accessibility/custom.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
    {% block head_list %}

    {% endblock %}
{% endblock %}

{% block contenido %}
    <style>
        .custom-button {
            background-color: rgb(3, 63, 99);
            color: white;
            font-size: 14px; /* Ajusta el tamaño del texto */
            padding: 6px 12px; /* Ajusta el padding para dispositivos móviles */
            margin: 5px; /* Espacio entre los botones */
        }

        .custom-button:hover {
            background-color: rgb(0, 94, 153);
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 20px;
            padding: 20px;
        }

        .card-default {
            border: 1px solid #ddd;
        }

        .card-header {
            background-color: #f8f9fa;
            border-bottom: 1px solid #ddd;
            padding: 10px 15px;
            display: flex;
            align-items: center;
        }

        .card-title {
            font-size: 18px;
            margin: 0;
            font-weight: 600;
            color: #333;
        }

        .card-title i {
            margin-right: 8px;
            color: #18191a;
        }

        .table-responsive {
            overflow-x: auto;
            margin-top: 15px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table thead {
            background-color: #dbdada;
        }

        .table th, .table td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #dbdada;
        }

        .table th {
            font-weight: 700;
            color: #000000;
        }

        .table tr:hover {
            background-color: #f1eeeec9;
        }

        @media (max-width: 768px) {
            .table {
                font-size: 14px;
            }

            .custom-button {
                font-size: 12px; /* Ajusta el tamaño del texto para pantallas más pequeñas */
                padding: 4px 8px; /* Ajusta el padding para pantallas más pequeñas */
            }
        }
        
        /* Asegúrate de que los botones se alineen correctamente en pantallas más pequeñas */
        #tabla_wrapper .col-md-6 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>

    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i> 
                {{titulo}}
            </h3>
            <div class="ml-auto">
                <button type="button" class="btn custom-button" data-toggle="modal" data-target="#filtroModal">
                    <i class="fas fa-filter"></i> Filtrar
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table id="tabla" class="table">
                <thead>
                    {% block columnas %} 
                    {% endblock %}
                </thead>
                <tbody>
                    {% block filas %}
                    {% endblock %}
                </tbody>
            </table>
            <div class="card-footer">
                <a href="{{crear_url}}" class="btn btn-s" style="background-color: rgb(3, 63, 99); color: white;">
                    <i class="fas fa-plus"></i>  
                    Agregar
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="filtroModalLabel">Filtrar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id = 'filtro-contenido' class="modal-body">
                    {% block filtro_form_contenido %}
                    {% endblock %}
                </div>
                <div class="modal-footer justify-content-center"> <!-- Alineación a la izquierda -->
                    <!-- Cambia los estilos de los botones -->
                    <button type="button" class="btn custom-button shadow-sm" data-dismiss="modal" style="background-color: #6c757d; color: white; border-radius: 8px; padding: 10px 20px; transition: background-color 0.3s ease;">
                        <i class="fas fa-times"></i> Cerrar
                    </button>
                    
                    <button type="button" class="btn custom-button shadow-sm ml-4" onclick="applyFilters()" style="background-color: rgb(3, 63, 99); color: white; border-radius: 8px; padding: 10px 20px; transition: background-color 0.3s ease;">
                        <i class="fas fa-filter"></i> Filtrar
                    </button>
                    
                    <button type="button" class="btn custom-button shadow-sm ml-4" onclick="clearFilters()" style="background-color: #007bff; color: white; border-radius: 8px; padding: 10px 20px; transition: background-color 0.3s ease;">
                        <i class="fas fa-eraser"></i> Limpiar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'lib/adminlte-3.2.0/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/jszip/jszip.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
$(document).ready(function() {
    $('#tabla').DataTable({
        responsive: false,
        lengthChange: false,
        autoWidth: false,
        language: {
            url: "{% static 'lib/datatables-1.10.20/español.json' %}",
        },
        buttons: [
            { extend: 'copy', text: 'Copiar tabla', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'excel', text: 'Archivo Excel', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'pdf', text: 'PDF', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'print', text: 'Imprimir', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } }
        ],
        dom: 'Bfrtip'
    }).buttons().container().appendTo('#tabla_wrapper .col-md-6:eq(0)');   
    });
    function clearFilters() {
        // Limpia los campos del formulario
        document.querySelector('#filtroModal form').reset();
        // Redirige a la URL actual sin parámetros
        const url = new URL(window.location.href);
        url.search = ''; // Elimina todos los parámetros de búsqueda
        window.location.href = url.toString();
    }

    function applyFilters() {
        document.querySelector('#filtroModal form').submit();
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}',  // Tipo de mensaje: success, error, etc.
                    title: '{% if message.tags == "success" %}¡Éxito!{% elif message.tags == "error" %}¡Error!{% endif %}',  // Título basado en el tipo de mensaje
                    text: "{{ message }}",  // Mensaje del contenido
                    confirmButtonText: 'OK'
                });
            {% endfor %}
        {% endif %}
    });
</script>
<script>
    {% if message %}
    Swal.fire({
        title: '¡Éxito!',
        text: '{{ success_message }}',
        icon: 'success',
        confirmButtonText: 'Aceptar',
        confirmButtonColor: '#3085d6'
    });
    {% endif %}
</script>
{% endblock %}
