{% extends "layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/dataTables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/datatables-buttons/css/buttons.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'node_modules/sienna-accessibility/custom.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
{% endblock %}

{% block contenido %}
    <style>
        .custom-button {
            background-color: rgba(3,63,99,1);
            color: white;
            font-size: 14px; /* Ajusta el tamaño del texto */
            padding: 6px 12px; /* Ajusta el padding para dispositivos móviles */
            margin: 5px; /* Espacio entre los botones */
        }

        .custom-button:hover {
            background-color: rgb(0, 94, 153);
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 20px;
            padding: 20px;
        }

        .card-default {
            border: 1px solid #ddd;
        }

        .card-header {
            background-color: #f8f9fa;
            border-bottom: 1px solid #ddd;
            padding: 10px 15px;
            display: flex;
            align-items: center;
        }

        .card-title {
            font-size: 18px;
            margin: 0;
            font-weight: 600;
            color: #333;
        }

        .card-title i {
            margin-right: 8px;
            color: #18191a;
        }

        .table-responsive {
            overflow-x: auto;
            margin-top: 15px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table thead {
            background-color: #dbdada;
        }

        .table th, .table td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #dbdada;
        }

        .table th {
            font-weight: 700;
            color: #000000;
        }

        .table tr:hover {
            background-color: #f1eeeec9;
        }

        @media (max-width: 768px) {
            .table {
                font-size: 14px;
            }

            .custom-button {
                font-size: 12px; /* Ajusta el tamaño del texto para pantallas más pequeñas */
                padding: 4px 8px; /* Ajusta el padding para pantallas más pequeñas */
            }
        }
        
        /* Asegúrate de que los botones se alineen correctamente en pantallas más pequeñas */
        #tabla_wrapper .col-md-6 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>

    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i> 
                {{titulo}}
            </h3>
        </div>
        <div class="table-responsive">
            <table id="tabla" class="table">
                <thead>
                    {% block columnas %} 
                    {% endblock %}
                </thead>
                <tbody>
                    {% block filas %}
                    {% endblock %}
                </tbody>
            </table>
            <div class="card-footer">
                <a href="{{crear_url}}" class="btn btn-primary btn btn-s">
                    <i class="fas fa-plus"></i>  
                    Agregar
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'lib/adminlte-3.2.0/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/jszip/jszip.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
$(document).ready(function() {
    $('#tabla').DataTable({
        responsive: false,
        lengthChange: false,
        autoWidth: false,
        language: {
            url: "{% static 'lib/adminlte-3.2.0/datatables/Spanish.json' %}"
        },
        buttons: [
            { extend: 'copy', text: 'Copiar tabla', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'excel', text: 'Archivo Excel', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'pdf', text: 'PDF', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'print', text: 'Imprimir', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } }
        ],
        dom: 'Bfrtip'
    }).buttons().container().appendTo('#tabla_wrapper .col-md-6:eq(0)');
});
</script>
{% endblock %}
