{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="#" class="brand-link">
        <img src="{% static 'img/Sena.png' %}" class="brand-image img-circle elevation-3"
            style="opacity: .8">
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user.png' %}" class="img-circle elevation-2">
            </div>
            <div class="info">
                <a href="#" class="d-block">SENA</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Modulos</li>

                <li class="nav-item">
                    <a href="{% url 'app:producto_lista'%}" class="nav-link">
                        <i class='fas fa-apple-alt' style='font-size:24px'></i>
                        <p>
                            Productos
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:categoria_lista' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>
                            Categorías
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:marca_lista' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>
                            Marcas
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:presentacion_lista' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>
                            Presentaciones
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:cliente_lista'%}" class="nav-link">
                        <i class='fas fa-user-friends' style='font-size:20px'></i>
                        <p>
                            Clientes
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:empleado_lista'%}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Empleados
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:proveedor_lista'%}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Proveedores
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="{% url 'app:venta_lista'%}" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Ventas
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="{% url 'app:compra_lista'%}" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Compras
                        </p>
                    </a>
                </li>
            </ul>
            
        </nav>
    
    </div>
    
</aside>
