{% extends 'listar.html' %}
{% block filtro_form_contenido %} 
<!--Bloque para el formulario de filtrado -->
<form method="GET" action="">
    <!-- Formulario que envía datos por GET a la vista 'listar_Tipo' -->
    <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" value="{{ request.GET.id }}">
        <!--Campo para filtrar por ID -->
    </div>

    <div class="form-group">
        <label for="nombre">Descripcion</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ request.GET.descripcion }}">
        <!-- Campo para filtrar por nombre -->
    </div>
    
</form>
{% endblock %}
{% block columnas %}
<tr>
    <th>#</th>
    <th>Descripcion</th>
    <th>Opciones</th>
</tr>
{% endblock %}


{% block filas %}
{% for c in object_list %}

    <tr>
    <td>{{c.id}}</td>
    <td>{{c.descripcion}}</td>
    <td>
        <a href="{% url 'app:presentacion_editar' c.id%}" type="button" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit" title="Editar elemento"></i></a>
        <a href="{% url 'app:presentacion_eliminar' c.id%}" type="button" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt" title="Eliminar elemento"></i></a>
    </td>
</tr>

{% endfor %}

{% endblock %}