.asw-menu-btn {
    background-color: rgb(3, 63, 99) !important;
    color: #fff;
    border: 2px solid #fff; /* Borde blanco sólido de 2px */
    border-radius: 5px; /* Bordes redondeados (ajusta el valor según sea necesario) */
    padding: 10px 20px; /* Espaciado interno (ajusta según sea necesario) */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra blanca sutil (opcional) */
    transition: border-color 0.3s ease; /* Transición suave para el borde (opcional) */
}

.asw-menu-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); /* Color del borde en hover */
}

.asw-menu-header {
    background: rgb(3, 63, 99) !important;
    color: #fff;
}

.asw-footer {
    background: rgb(3, 63, 99) !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: rgb(17, 147, 228) !important;
    color: #fff;
    border: 2px solid #fff; /* Borde blanco sólido de 2px */
    border-radius: 5px; /* Bordes redondeados (ajusta el valor según sea necesario) */
    padding: 10px 20px; /* Espaciado interno (ajusta según sea necesario) */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra blanca sutil (opcional) */
    transition: border-color 0.3s ease; /* Transición suave para el borde (opcional) */
}

.asw-adjust-font div[role=button]:hover {
    border-color: rgba(255, 255, 255, 0.8); /* Color del borde en hover */
}

.main-footer {
    background-color: rgb(3, 63, 99) !important;
    color: #fff !important;
}

.main-footer a {
    color: #fff !important;
    text-decoration: none; /* Opcional: para eliminar el subrayado en los enlaces */
}

.main-footer a:hover {
    text-decoration: underline; /* Opcional: para agregar subrayado en los enlaces cuando se pasa el ratón */
}
.main-sidebar {
    background-color: rgb(3, 63, 99) !important; /* Color de fondo del aside */
}

.nav-link {
    color: #fff !important; /* Color del texto de los enlaces */
}

.nav-link i {
    color: #fff !important; /* Color de los íconos */
}

.nav-header {
    color: #fff !important; /* Color del texto de los encabezados */
}

.user-panel .info a {
    color: #fff !important; /* Color del texto del usuario */
}

.user-panel .image img {
    border: 2px solid #fff; /* Borde blanco para la imagen del usuario */
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #888;
}

.breadcrumb-item a {
    color: #070707; /* Color del enlace */
    text-decoration: none; /* Sin subrayado en los enlaces */
}

.breadcrumb-item a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón por encima */
}

