{% extends 'listar.html' %}

{% block filtro_form_contenido %} 
<form method="GET" action="">
    <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" value="{{ request.GET.id }}">
        <!--Campo para filtrar por ID -->
    </div>
    <div class="form-group">
        <label for="user">Usuario:</label>
        <input type="text" name="user" id="user" class="form-control" value="{{ request.GET.user }}">
    </div>
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="form-control" value="{{ request.GET.nombre }}">
    </div>
    <div class="form-group">
        <label for="tipo_documento">Tipo de Identificacion:</label>
        <select name="tipo_documento" id="tipo_documento" class="form-control">
            <option value="">Todos</option>
            <option value="CC" {% if request.GET.tipo_documento == "CC" %}selected{% endif %}>CC</option>
            <option value="CE" {% if request.GET.tipo_documento == "CE" %}selected{% endif %}>CE</option>
            <option value="PSP" {% if request.GET.tipo_documento == "PSP" %}selected{% endif %}>PSP</option>
            <option value="TI" {% if request.GET.tipo_documento == "TI" %}selected{% endif %}>TI</option>
        </select>
    </div>
    <div class="form-group">
        <label for="numero_documento">Numero de Identificacion:</label>
        <input type="number" name="numero_documento" id="numero_documento" class="form-control" value="{{ request.GET.numero_documento }}">
    </div>
    <div class="form-group">
        <label for="telefono">Telefono:</label>
        <input type="number" name="telefono" id="telefono" class="form-control" value="{{ request.GET.telefono }}">
    </div>
</form>
{%endblock%}
{% block columnas %}
<tr>
    <th sccpe="col">ID</th>
    <th sccpe="col">Usuario</th>
    <th sccpe="col">Nombre</th>
    <th scope="col">Tipo Documento</th>
    <th scope="col">Número Documento</th>
    <th scope="col">Email</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
    {% if not has_permission %}
        <tr>
            <td colspan="7">
                <div class="alert alert-danger" role="alert">
                    No tienes permiso para ver esta información.
                </div>
            </td>
        </tr>
    {% else %}
        {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.user }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.tipo_documento }}</td>
            <td>{{ c.numero_documento }}</td>
            <td>{{ c.user.email }}</td>
            <td>{{ c.telefono }}</td>
            <td>
                <a href="{% url 'app:empleado_editar' c.id %}" type="button" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit" title="Editar elemento"></i></a>
                <a href="{% url 'app:empleado_eliminar' c.id %}" type="button" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt" title="Eliminar elemento"></i></a>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
{% endblock %}