{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Marca</th>
    <th scope="col">Categoria</th>
    <th scope="col">Presentacion</th>
    <th scope="col">Precio</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% for c in object_list %}

    <tr>
    <td>{{c.id}}</td>
    <td>{{c.nombre}}</td>
    <td>{{c.cantidad}}</td>
    <td>{{c.marca}}</td>
    <td>{{c.categoria}}</td>
    <td>{{c.presentacion}}</td>
    <td>{{c.precio}}</td>
    <td>
        <a href="{% url 'app:producto_editar' c.id%}" type="button" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
        <a href="{% url 'app:producto_eliminar' c.id%}" type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>
    </td>
</tr>



{% endfor %}

{% endblock %}