{% extends 'listar.html' %}
{% load static %}
{% block head_list %}
{% endblock %}
{% block filtro_form_contenido %} 
<form method="GET" action="">
    <div class="form-group">
        <label for="nit">ID:</label>
        <input type="number" name="id" id="id" class="form-control" value="{{ request.GET.id }}">
    </div>
    <div class="form-group">
        <label for="nombre">Fecha:</label>
        <input type="text" name="fecha" id="fecha" class="form-control" value="{{ request.GET.fecha }}">
    </div>
    <div class="form-group">
        <label for="nombre">Proveedor:</label>
        <input type="text" name="proveedor" id="proveedor" class="form-control" value="{{ request.GET.proveedor }}">
    </div>
</form>
{%endblock%}
{% block columnas %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Fecha</th>
    <th scope="col">Proveedor</th>
    <th scope="col">Producto</th>
    <th scope="col">Total Compra</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% if not has_permission %}
<tr>
    <td colspan="7">
        <div class="alert alert-danger" role="alert">
            No tienes permiso para ver esta información.
        </div>
    </td>
</tr>
{% else %}
{% for c in object_list %}

    <tr>
    <td>{{c.id}}</td>
    <td>{{ c.fecha_compra|date:"Y-m-d H:i" }}</td>
    <td>{{c.proveedor}}</td>
    <td>{{c.id}}</td>
    <td>{{c.total_compra}}</td>
    <td>
        <a  href="{% url 'app:compra_eliminar' c.id%}" type="button" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt" title="Editar elemento"></i></a>
    </td>
</tr>



{% endfor %}
{% endif %}
{% endblock %}

{% block javascript %}

<div class="modal fade" id="ModeloDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-shopping-cart"></i> Consulta de
                        Detalle de productos</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tablaDet">
                            <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Categoría</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'lib/adminlte-3.2.0/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/jszip/jszip.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script>
var tblCompra;
$(document).ready(function() {
    var tblCompra= $('#tabla').DataTable({
        responsive: false,
        lengthChange: false,
        autoWidth: false,
        language: {
            url: "{% static 'lib/datatables-1.10.20/español.json' %}",
        },
        buttons: [
            { extend: 'copy', text: 'Copiar tabla', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'excel', text: 'Archivo Excel', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'pdf', text: 'PDF', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } },
            { extend: 'print', text: 'Imprimir', className: 'custom-button', exportOptions: { columns: ':not(:last-child)' } }
        ],dom: 'Bfrtip',
        columnDefs: [
            {
                targets: [-3],
                class: 'text-center',
                orderable: false,
                render: function (data, type, row) {
                    var buttons =  '<a rel="detalle" + class="btn btn-success btn-xs btn-flat"><i class="fas fa-search"></i></a> ';
                    return buttons;
                }
            },
            {
                targets: [-2],
                class: 'text-center',
                orderable: false,
                render: function (data, type, row) {
                    return '$' + parseFloat(data).toFixed(2);
                }
            },
            {
                targets: [-1],
                class: 'text-center',
                orderable: false
                
            },
        ],
        initComplete: function (settings, json) {

        }
    });
    $('#tabla tbody')
        .on('click', 'a[rel="detalle"]', function () {
            var tr = tblCompra.cell($(this).closest('td, li')).index();
            var data = tblCompra.row(tr.row).data();
            console.log(data[0]);

            $('#tablaDet').DataTable({
                responsive: true,
                autoWidth: false,
                destroy: true,
                deferRender: true,
                language: {
                    url: "{% static 'lib/datatables-1.10.20/español.json' %}",
                },
                ajax: {
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_details_prod',
                        'id': data[0]
                    },
                    dataSrc: "",
                },
                columns: [
                    {"data": "id_producto.nombre"},
                    {"data": "id_producto.categoria.nombre"},
                    {"data": "precio"},
                    {"data": "cantidad"},
                    {"data": "subtotal"},
                ],
                columnDefs: [
                    {
                        targets: [-1,-3],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '$' + parseFloat(data).toFixed(2);
                        }
                    },
                    {
                        targets: [-2],
                        class: 'text-center',
                        render: function (data, type, row) {
                            return data;
                        }
                    },
                ],
                initComplete: function (settings, json) {
        
                }
            });
            
            
            $('#ModeloDet').modal('show');  
        });   
});
function clearFilters() {
    // Limpia los campos del formulario
    document.querySelector('#filtroModal form').reset();
    // Redirige a la URL actual sin parámetros
    const url = new URL(window.location.href);
    url.search = ''; // Elimina todos los parámetros de búsqueda
    window.location.href = url.toString();
}

function applyFilters() {
    document.querySelector('#filtroModal form').submit();
}
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}',  // Tipo de mensaje: success, error, etc.
                title: '{% if message.tags == "success" %}¡Éxito!{% elif message.tags == "error" %}¡Error!{% endif %}',  // Título basado en el tipo de mensaje
                text: "{{ message }}",  // Mensaje del contenido
                confirmButtonText: 'OK'
            });
        {% endfor %}
    {% endif %}
});
</script>


</script>

{% endblock %}