{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Fecha</th>
    <th scope="col">Proveedor</th>
    <th scope="col">Producto</th>
    <th scope="col">Total Compra</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block filas %}
{% if not has_permission %}
<tr>
    <td colspan="7">
        <div class="alert alert-danger" role="alert">
            No tienes permiso para ver esta información.
        </div>
    </td>
</tr>
{% else %}
{% for c in object_list %}

    <tr>
    <td>{{c.id}}</td>
    <td>{{c.fecha_compra}}</td>
    <td>{{c.proveedor}}</td>
    <td>{{c.producto}}</td>
    <td>{{c.total_compra}}</td>
    <td>
        <a href="{% url 'app:compra_editar' c.id%}" type="button" class="btn btn-primary btn-xs"><i class="fas fa-edit" title="Editar elemento"></i></a>
        <a href="{% url 'app:compra_eliminar' c.id%}" type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash" title="Eliminar elemento"></i></a>
    </td>
</tr>



{% endfor %}
{% endif %}
{% endblock %}