{% extends "prueba.html" %}
{% load static %}
{% block head_list %}
<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" />
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-confirm@3.3.4/dist/jquery-confirm.min.js"></script>

    <script src="{% static 'compra/js/form.js' %}"></script>
{% endblock %}
{% block contenido %}
    <style>
        .cantidad-col {
            min-width: 120px; /* Ajusta según el tamaño que necesites */
        }

        /* Ajustes adicionales para cuando la tabla se vuelva responsive */
        @media (max-width: 768px) {
            .cantidad-col {
                min-width: 150px; /* Aumenta el ancho en pantallas pequeñas si es necesario */
            }
        }
        .precio-col {
            min-width: 120px; /* Ajusta según el tamaño que necesites */
        }

        /* Ajustes adicionales para cuando la tabla se vuelva responsive */
        @media (max-width: 768px) {
            .precio-col {
                min-width: 150px; /* Aumenta el ancho en pantallas pequeñas si es necesario */
            }
        }
    </style>
    <form method="post">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                    <i class="fas fa-plus"></i>
                    {% else %}
                    <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ titulo }}
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de productos</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Buscador de productos:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="search"
                                            placeholder="Ingrese una descripción de producto" autocomplete="off">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-danger btn-flat"><i
                                                    class="fas fa-times"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-xs btneliminartodo"> 
                                    <i class="fas fa-trash"></i> Eliminar todos los productos 
                                </button>
                                <hr>
                                
                                <div class="table-responsive">
                                    <table id="tablaproductos" class="table">
                                        <thead>
                                            <tr>
                                                <th>Eliminar</th>
                                                <th>Producto</th>
                                                <th>Stock</th>
                                                <th class="precio-col">Precio</th>
                                                <th class="cantidad-col">Cantidad</th> 
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de la compra</h3>
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label>Fecha de compra:</label>
                                    {{ form.fecha_compra }}
                                </div>
                                <div class="form-group">
                                    <label>Proveedor:</label>
                                    {{ form.proveedor }}
                                </div>
                                <div class="form-group"></div>
                                    <label>Total a pagar:</label>
                                    {{form.total_compra}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ listar_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    
    
{% endblock %}

{% block javascript %}


<script src="{% static 'lib/adminlte-3.2.0/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/dataTables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/jszip/jszip.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script type="text/javascript">
    var languageUrl = "{% static 'lib/datatables-1.10.20/español.json' %}";
</script>

<script>
    compras.items.products= {{ det|safe }};
    compras.list(); 
</script>
{% endblock %}