{% extends 'listar.html' %}
{% block filtro_form_contenido %} 
<!--Bloque para el formulario de filtrado -->
<form method="GET" action="">
    <!-- Formulario que envía datos por GET a la vista 'listar_Tipo' -->
    <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" id="id" name="id" value="{{ request.GET.id }}">
        <!--Campo para filtrar por ID -->
    </div>

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ request.GET.nombre }}">
        <!-- Campo para filtrar por nombre -->
    </div>
    <div class="form-group">
        <label for="estado">Estado:</label>
        <select name="estado" id="estado" class="form-control">
            <option value="">Todos</option>
            <option value="Activo" {% if request.GET.estado == "Activo" %}selected{% endif %}>Activo</option>
            <option value="Inactivo" {% if request.GET.estado == "Inactivo" %}selected{% endif %}>Inactivo</option>
        </select>
    </div>
</form>
{% endblock %}
{% block columnas %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}


{% block filas %}
{% for c in object_list %}

    <tr>
    <td>{{c.id}}</td>
    <td>{{c.nombre}}</td>
    <td>{{ c.estado }}</td>
    <td>
        <a href="{% url 'app:marca_editar' c.id%}" type="button" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit" title="Editar elemento"></i></a>
        <a href="{% url 'app:marca_eliminar' c.id%}" type="button" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt" title="Eliminar elemento"></i></a>
    </td>
</tr>

{% endfor %}

{% endblock %}