{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <div class="sidebar" style="display: flex; flex-direction: column; height: 100%;">
        <!-- User Panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" style="border: 2px solid #333; margin-right: 8px;">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="mt-2" style="flex: 1; display: flex; flex-direction: column;">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="flex: 1;">
                <li class="nav-header">Modulos</li>
                <li class="nav-item">
                    <a href="{% url 'app:producto_lista' %}" class="nav-link">
                        <i class="fas fa-carrot" style="font-size:24px; margin-right: 8px;"></i>
                        <p>Productos</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:categoria_lista' %}" class="nav-link">
                        <i class="fa fa-box" style="font-size:24px; margin-right: 8px;"></i>
                        <p>Categorías</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:marca_lista' %}" class="nav-link">
                        <i class="fa fa-tag" style="font-size:24px; margin-right: 8px;"></i>
                        <p>Marcas</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:presentacion_lista' %}" class="nav-link">
                        <i class="fa fa-cube" style="font-size:24px; margin-right: 8px;"></i>
                        <p>Presentaciones</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:cliente_lista' %}" class="nav-link">
                        <i class="fa fa-users" style="font-size:20px; margin-right: 8px;"></i>
                        <p>Clientes</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:empleado_lista' %}" class="nav-link">
                        <i class="fa fa-user-tie" style="font-size:24px; margin-right: 8px;"></i>
                        <p>Empleados</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:proveedor_lista' %}" class="nav-link">
                        <i class="fa fa-truck" style="font-size:24px; margin-right: 8px;"></i>
                        <p>Proveedores</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:venta_lista' %}" class="nav-link">
                        <i class="fa fa-shopping-cart" style="font-size:24px; margin-right: 8px;"></i>
                        <p>Ventas</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'app:compra_lista' %}" class="nav-link">
                        <i class="fa fa-cart-plus" style="font-size:24px; margin-right: 8px;"></i>
                        <p>Compras</p>
                    </a>
                </li>
            </ul>
        </nav>

        <div style="margin-top: auto; text-align: center;">
            <a href="{% url 'app:crear_backup' %}" class="nav-link" style="display: flex; flex-direction: column; align-items: center;">
                <i class="fa fa-database" style="font-size:24px;"></i>
                <p class="d-none d-md-block" style="margin: 0;"></p>
            </a>
        </div>
    </div>
</aside>
